.pricing {
  position: relative;
  background: #18bc9c;
  width: 280px;
  top: 50%;
  left: 50%;
  margin: -117px 0 0 -140px;
  padding: 40px 0 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.pricing .thumbnail {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  /* IE Fall */
  background: rgba(255, 255, 255, 0.2);
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 36px;
  line-height: 90px;
  text-align: center;
}
.pricing .title {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  background: #0f7864;
  margin: 40px 0 0;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.pricing .content {
  display: none;
}
.pricing .content .sub-title {
  font-family: 'Open Sans', sans-serif;
  background: #eee;
  padding: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.pricing .content ul {
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  background: #fff;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 14px;
}
.pricing .content ul li {
  padding: 10px 20px;
}
.pricing .content ul li:nth-child(2n) {
  background: #f3f3f3;
}
.pricing .content ul li .fa {
  width: 16px;
  margin-right: 10px;
  text-align: center;
}
.pricing .content ul li .fa-check {
  color: #2ecc71;
}
.pricing .content ul li .fa-close {
  color: #e74c3c;
}
.pricing .content a {
  font-family: 'Open Sans', sans-serif;
  display: block;
  background: #128f76;
  max-width: 80px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.pricing .content a:hover {
  background: #34495e;
  /* IE Fallback */
  background: rgba(52, 73, 94, 0.7);
}
.clickMe {
  background: #2C3E50;
  /* IE Fallback */
  background: #2C3E50;
  position: absolute;
  top: 180px;
  left: -60px;
  padding: 5px 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #18bc9c;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 800;
}
.clickMe:before {
  content: '';
  position: absolute;
  top: 6px;
  right: -5px;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5 solid #fff;
  /* IE Fallback */
  border-left: 5px solid #2C3E50;
}

.obrazok {
      position: absolute;
      bottom:-5%;
      display: block;
      margin-left: 35px;

}
.fa-star{
  color: #18BC9C;
}

.containerbox {
font-family: "Source Sans Pro", sans-serif;  
color: transparent;
margin: 0 auto;
padding: 1% 15%;
width: 192;
}	
 	
 
.plans {
	list-style: none;
	margin: 5%;
	padding: 10px 10px;
}
.plan {
background: white;
font-family: 'Source Sans Pro', sans-serif;
border: 3px solid #e8e8e8;
border-radius: 6px;
height: 80px;
margin: 0px 10px;
opacity: 0.8;
padding: 4px 15px;
width: 125%;

}
		
.plan:hover,
.plan:highlight {
    opacity: 1;
		}
	
.price {
border-radius: 100%;
cursor: default;
display: block;
float: left;
height: 46px;
line-height: 46px;
margin: 0 0;
text-align: center;
width: 46px;
}					
.price-green {
  background-color: #0F7864;
  color: #FFFFFF;
			}
					
.price-red {
  background-color: #f1e1d1;
  color: #b35227;
			}
.price-green:hover {
background-color: #128F76;
}
		
.details {
color: #222;
display: block;
float: left;
height: 46px;
margin: 8px 0;
padding: 0 10px;
}
			
.plan-title {
	font-size: 17px;
	font-weight: normal;
	margin: auto;
	padding: 0;
}
			
.plan-description {
	color: #666;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
		
.cart {
   position: absolute;
   display: block;
   margin-left: 7px;

}
